proxmox_api_url  = "https://<PROXMOX_IP>:8006/"
proxmox_user     = "root@pam"
proxmox_password = "<YOUR_PROXMOX_PASSWORD>"
proxmox_node     = "pve"
ssh_public_key   = "ssh-ed25519 <YOUR_KEY> user@host"
worker_count     = 2